*{
    padding: 0rem ;
    margin: 0rem;
    text-transform: capitalize;
    color: black;
    overflow: inherit;
}
 
.navbar{
    position: fixed;
    padding: 0rem 1rem;
    background: #e6dddd;
    color: black;
    width: 100%;
    font-weight: bold;
    
}

.kiri{
  display: flex;
  margin-right: 0.5rem;
}

.kiri a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 14px 20px;
    text-decoration: none;
}

.kiri a:hover{
  box-shadow: 2px 2px 2px 2px aqua;
}

@media only screen and (max-width: 500px) {
    .navbar-toggler {
        margin-left: 2rem;
    }
  
  }

  /* style bagian menu */
  #menu{
    content: '';
    
  }
  .menu{
    padding: 2rem;
  }

 img{
    height: 20px;
    width: 20px;
  }

  img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


  .atas {
    padding-top: 50px;
    text-align:center;
    padding-bottom: 50px;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration!*/
  }

  /* style bagian home  */
  #home{
    content: '';
  }
  .container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
  padding-top: 8rem;
  margin-left: 10rem;
}
.icons{
    display: flex;
}

.icons p{
    margin-left: .5rem;
    font-size: 1.3rem;
    text-align: center;
    color: black;
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: aqua;
    padding: .5rem;
}
.logo:hover{
    box-shadow: 2px 2px 2px 2px aqua;
}

.logo{
    width: 3rem;
}

.col img{
  padding: 2rem;
  width: 470px ;
  height: auto;
}


/* style tentang */
#tentang{
    content: '';
  }
  .col img{
    padding: 2rem;
    width: 470px ;
    height: auto;
  }

/* bagian pusat */
#pusat{
    content: '';
    padding: 3rem ;
    margin: auto;
}
.pusat{
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.pusat h4{
    text-align: center;
     color: black;
}
.pusat p{
    text-align: center;
     color: black;
     margin-bottom: 3rem;
}
.flex{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.olo{
    margin: 8rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px aqua;
}
.olo{
  display: inline-block;
  margin: 5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration!*/
}

.card{
  width: 18rem;
  
}

/* bagian contact */

       


